<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Firefox.WebDriver" version="0.21.0" targetFramework="net47" />
  <package id="Selenium.Mozilla.Firefox.Webdriver" version="0.6.0.1" targetFramework="net47" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net47" />
  <package id="Selenium.Support" version="3.13.1" targetFramework="net47" />
  <package id="Selenium.WebDriver" version="3.13.1" targetFramework="net47" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.40.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.MicrosoftDriver" version="17.17134.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.17134" targetFramework="net47" />
  <package id="Selenium.WebDriver.Mono" version="2.45.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net47" />
  <package id="Selenium.WebDriver.WaitExtensions" version="1.0.0" targetFramework="net47" />
  <package id="WebDriver.Extension" version="0.1.0" targetFramework="net47" />
  <package id="WebDriver.GeckoDriver" version="0.20.1" targetFramework="net47" />
</packages>