<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net47" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net47" />
  <package id="EPPlus.Core.Extensions" version="2.2.3" targetFramework="net47" />
  <package id="EPPlus.Extensions" version="2.0.0.0" targetFramework="net47" />
  <package id="EPPlus.Utils" version="1.0.5.8" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Selenium.Support" version="3.13.1" targetFramework="net47" />
  <package id="Selenium.WebDriver" version="3.13.1" targetFramework="net47" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.40.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.21.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.1" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net47" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net47" />
  <package id="Unity" version="5.8.6" targetFramework="net47" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net47" />
  <package id="Unity.Configuration" version="5.2.3" targetFramework="net47" />
  <package id="Unity.Container" version="5.8.6" targetFramework="net47" />
  <package id="Unity.Interception" version="5.5.3" targetFramework="net47" />
  <package id="Unity.Interception.Configuration" version="5.1.5" targetFramework="net47" />
  <package id="Unity.Microsoft.DependencyInjection" version="2.0.10" targetFramework="net47" />
  <package id="Unity.Microsoft.Logging" version="1.0.2" targetFramework="net47" />
  <package id="WebDriver.GeckoDriver" version="0.20.1" targetFramework="net47" />
  <package id="WebGrease" version="1.6.0" targetFramework="net47" />
</packages>